body{
    margin: 0;
    padding: 0%;
   
}
.background{
    width: 100%;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    margin: 0 110px;
    overflow: hidden;
    
}
.top{
    margin-top: 50px;
}
header{
    
    margin-bottom: 70px;
    
}
.logo{
width: 20%;
float: left;
}
.logo img{
    width: 100%;
}
.menu{
    width: 40%;
    float: right;
}
.menu ul{
    float: right;

}
.menu ul li{
    list-style: none;
    float: left;
  
}
.menu ul li a{
    text-decoration: none;
    margin: 0 35px;
} 
.menu ul li:last-child a {
 margin-right: 0;
}

.info{
overflow: hidden;
margin-bottom: 110px;
    
}
.inspiration{
    width: 35%;
    float: left;
}
.inspiration h3{
    font-size: 32px;
}
.inspiration h5{
    font-size: 20px;
    text-align: justify;
    margin-top: 30px;
}
.inspiration p{
    font-size: 16px;
    margin-top: 30px;
}
.ipad{
width: 35%;
float: right;
}

.feature{
    width: 80%;
    margin: auto;
    margin-top: 110px;
}

.feature h2{
    text-align: center;
    font-size: 32px;
}
.feature p{
    text-align: center;
    margin-top: 33px;
    font-size: 20px;
}